<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devculture.apiconsumer">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- api selector -->
        <activity
            android:name=".controllers.SelectApiActivity"
            android:label="@string/select_an_api">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- reddit -->
        <activity
            android:name=".controllers.reddit.RedditTopAuthActivity"
            android:label="@string/reddit_authentication"
            android:parentActivityName=".controllers.SelectApiActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.devculture.apiconsumer.controllers.SelectApiActivity" />
        </activity>
        <activity
            android:name=".controllers.reddit.RedditTopListActivity"
            android:label="@string/top_reddits"
            android:parentActivityName=".controllers.SelectApiActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.devculture.apiconsumer.controllers.SelectApiActivity" />
        </activity>
        <activity
            android:name=".controllers.reddit.RedditTopDetailActivity"
            android:label="@string/reddit"
            android:parentActivityName=".controllers.reddit.RedditTopListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.devculture.apiconsumer.controllers.reddit.RedditTopListActivity" />
        </activity>

        <!-- rotten tomatoes -->
        <activity
            android:name=".controllers.rottentomatoes.RottenTomatoesTopMoviesActivity"
            android:label="@string/rotten_tomatoes_top_movies"
            android:parentActivityName=".controllers.SelectApiActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.devculture.apiconsumer.controllers.SelectApiActivity" />
        </activity>

    </application>

</manifest>